<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <!-- ***************************Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Welcome {{customer.f_name}}</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orders">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          </ul>
          <form class="d-flex"></form>
        </div>
      </div>
    </nav>
    <!-- ***************************Header -->
    <header class="bg-secondary py-2">
      <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Welcome to Sue's Craft</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            Craft cutouts for your diy projects
          </p>
        </div>
      </div>
    </header>
    <!-- ***************************Product -->
    <section class="py-5">
      <div class="container min-vh-100 d-flex flex-column">
        <div
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >
          <!-- ***************************3-Letter -->
          <div class="col mb-5">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="{{ url_for('static', filename='img/3monogram.jpg') }}"
                alt="3 Letter Monogram"
              />
              <!-- Product details-->
              <div class="card-body bg-secondary p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">3 Letter Monogram</h5>
                  <!-- Product price-->
                  $40
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-secondary">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="/check_out"
                    >Buy Now</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- ***************************Circle -->
          <div class="col mb-5">
            <div class="card h-100">
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Coming Soon
              </div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="{{ url_for('static', filename='img/circle.jpg') }}"
                alt="circle"
              />
              <!-- Product details-->
              <div class="card-body bg-secondary p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Circle Cutout</h5>
                  <!-- Product price-->
                  $10
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-secondary">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="#">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- ***************************Rectangle -->
          <div class="col mb-5">
            <div class="card h-100">
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Coming Soon
              </div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="{{ url_for('static', filename='img/rectangles.jpg') }}"
                alt="rectangles"
              />
              <!-- Product details-->
              <div class="card-body bg-secondary p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Rectangle Cutout</h5>
                  <!-- Product price-->
                  $10
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-secondary">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="#">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- ***************************Letter -->
          <div class="col mb-5">
            <div class="card h-100">
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Coming Soon
              </div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="{{ url_for('static', filename='img/letter.jpg') }}"
                alt="letter image"
              />
              <!-- Product details-->
              <div class="card-body bg-secondary p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Letter Cutout</h5>
                  <!-- Product price-->
                  $15
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-secondary">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="#">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***************************Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Sue's Craft 2022
        </p>
      </div>
    </footer>
  </body>
</html>
